/* ------------------- MAIN DIVS ------------------- */
#main-container {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    text-align: center;
    min-height: 75vh;
}

#player-information {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
/* --------------------------------------------------*/

.board-button {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
}

#ttt-div {
    display: grid;
    grid-template-columns: auto auto auto;

    align-items: center;
    justify-content: center;
}