@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100vh;

    font-family: 'Orbitron', sans-serif;
}


/*---------- Calculator Body ---------- */

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #252422;
    border: 3px solid black;
    border-radius: 5%;
    padding: 10px;
}

#display {
    box-sizing: border-box;
    
    background-color: #fffcf2;
    border-radius: 5%;
    width: 120px;

}

#displayText {
    padding: 0px;
    margin: 0px;
}

#numpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}


/*---------- Buttons ---------- */
button {
    border: 1px solid black;
    border-radius: 50%;
    
    font-size: small;
    text-align: center;
    
    width: 22px;
    height: 22px;

    padding: 0px;
    line-height: 0px;

}

.numpad {
    background-color: #ccc5b9;
}

#equal,  .operator{
    background-color: #eb5e28;
}

#backspace, #clear {
    background-color: #fffcf2;
}

#backspace {
    font-style: normal;
}

