@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------------ Header ------------ */
.header {
    height: 80px;
    padding: 0px 100px 0px 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
}

.header-links {
    margin-left: auto;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

li {
    margin: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
/* -------------------------------- */

/* ------------ Section 1 ------------ */
.section1 {
    padding: 0px 100px 10px 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex: 1;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    height: auto;
    width: 400px;
}

.section1 .main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.section1 .sub-title {
    font-size: 18px;
    color: #E5E7EB;
}

.section1 .sign-up {
    border-radius: 5px;
    border-style: solid;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
/* ----------------------------------- */

/* ------------ Section 2 ------------ */
.section2 {
    padding: 100px 150px 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 .main-title {
    font-size: 40px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 20px;
}

.section2-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.section2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 160px;
}

.box {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.section2-text {
    text-align: center;
    font-size: 25px;
}
/* ----------------------------------- */

/* ------------ Section 3 ------------ */
.section3 {
    padding: 100px 300px 100px 300px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    text-align: justify;
}

.attribute {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}
/* ----------------------------------- */

/* ------------ Section 4 ------------ */
.section4 {
    padding: 70px 100px 70px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox {
    padding: 50px 50px 50px 50px;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section4 .main-text {
    font-size: 18px;
    font-weight: bold;
}

.section4 .sub-text {
    font-size: 16px;
}

.section4 .sign-up {
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
/* ----------------------------------- */

/* ------------ Footer ------------ */
.footer {
    height: 60px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------------- */



