@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, Courier, monospace;

/*     margin: 0px;
    padding: 0px; */
}


/* --------------- Root Settings --------------- */
:root {
  --dark-green: #283618;
  --light-green: #606c38;
  --off-white: #fefae0;
  --light-brown: #dda15e;
  --dark-brown: #bc6c25;
  --darker-brown: #9c591f;

  background-color: var(--bg-color);
}

body {
  background-color: var(--dark-green);
  
}


/* --------------- Header --------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

button {
  background-color: var(--dark-brown);
  color: var(--off-white);

  font-size: 25px;
  font-weight: bolder;

  height: 50px;
  width: 120px;
  border: solid 3px var(--off-white);
  border-radius: 10px;

  transition: background 0.3s ease;
  
}

button:hover {
  background-color: var(--darker-brown);
  cursor:pointer;
}


/* --------------- Home --------------- */

#content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;

  margin: 10% 5% 10% 5%;
}

#cafe-image {
  width: 750px;
  height: auto;
  border: 3px solid var(--light-brown);
  border-radius: 45px;
  box-shadow: 0px 0px 10px var(--light-brown);
}

#content-intro {
  justify-self: flex-end;
}
#intro-header,
#intro-body {
  margin: 5px;
}

#intro-header {
  font-size: 45px;
  color: var(--light-brown);
}

#intro-body {
  font-size: 25px;
  color: var(--off-white);
}


/* --------------- Home --------------- */
#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 40px;
}

#coffee-div,
#icecream-div,
#drinks-div,
#baked-goods-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 30px
}

.menu-img {
  width: 400px;
  height: auto;
  border: 3px solid var(--light-brown);
  border-radius: 45px;
  box-shadow: 0px 0px 10px var(--light-brown);
}

.menuDivHeader {
  font-size: 35px;
  font-weight: bolder;
  color: var(--light-brown);
  margin: 10px;
}

.menu-subdiv {
  margin: 30px;
}

.item-subdiv {
  margin: 20px;
}

.item-subdiv > p:nth-child(1) {
  font-size: 25px;
  font-weight: bolder;
  color: var(--off-white);

  margin: 0px;
  padding: 0px;
}

.item-subdiv > p:nth-child(2) {
  font-size: 20px;
  color: var(--off-white);

  margin: 0px;
  padding: 0px;
}

.item-subdiv > p:nth-child(3) {
  font-size: 20px;
  font-style: italic;
  color: var(--off-white);

  margin: 0px;
  padding: 0px;
}

/* --------------- Contact --------------- */
#contact {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 50px;

  margin: 10% 5% 10% 5%;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}

#contact-header {
  font-size: 45px;
  color: var(--light-brown);
  margin: 10px;
}

#hours-header {
  font-size: 35px;
  font-weight: bolder;
  color: var(--light-brown);
  margin: 10px;
}

#contact-phone,
#contact-address,
#contact-hours,
#hours {
  font-size: 25px;
  color: var(--off-white);
  margin: 10px;
}

#beach-phone {
  width: 400px;
  height: auto;
  border: 3px solid var(--light-brown);
  border-radius: 45px;
  box-shadow: 0px 0px 10px var(--light-brown);
}